@page
@model ShoppingApp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.userId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.userId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.userId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
